.mt20{
    margin-top: 20px;
}
.title{
    font-size: 20px;
    font-weight: bold;
}
.form-control{
}
.form-control:after{
    display: block;
    content: '';
    clear: both;
}
label{
    display: block;
    margin-top: 20px;
}
input, textarea{
    display: block;
    font-size: 14px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-width: 200px;
}

button{
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
    background: #0b76cc;
    border: 0px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 1px 1px #fff;

}

button:hover{
    box-shadow: 1px 1px 1px #6389cc;
}
button:active{
    border-top: 2px solid #03182b;
    border-left: 2px solid #094176;
}

.result{
    padding: 10px;
    background: #e7e7e7;
    border-radius: 5px;
    min-width: 280px;
    min-height: 50px;
}